<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Sharing Site</title>

    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
        color: #333;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      #form {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;
      }
      #form h1 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #333;
      }
      #form label {
        font-weight: bold;
        margin-top: 1rem;
      }
      #form input[type="file"],
      #form input[type="password"] {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      #btn {
        grid-column: span 2;
        margin-top: 1rem;
        padding: 0.75rem;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      #btn:hover {
        background-color: #45a049;
      }

      .main-div {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 7px;
      }
      #div {
        margin: 1rem 0;
        text-align: center;
      }
      a {
        /* color: #4CAF50; */
        color: rgb(0, 0, 255);
        text-decoration: none;
      }
      a:hover {
        color: green;
      }
    </style>
    
  </head>
  <body>
    <div class="container">
      <% if (locals.error) { %>
      <div class="main-div">
        <div id="div">
          <b>Incorrect Password😥</b>
        </div>
      </div>
      <% } %>
      <form id="form" method="post">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button id="btn" type="submit">Download</button>
      </form>
    </div>
  </body>
</html>
